.popup {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 80%;
    left: 50%;
    background: #fff;
    z-index: z("modal");
    border-radius: 4px;
    transform: translate(-50%, -100px);
    opacity: 0;
    padding: 46px;
    @include container-fixed;
    @include trans;
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    &_active {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
    }
    &Fade {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        background: rgba(0,0,0,.8);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: z("modal")-1;
        cursor: pointer;
        @include trans();
        &_active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__close {
        position: absolute;
        @include bg($popup__close);
        top: 20px;
        right: 20px;
        cursor: pointer;
        @include trans();
        &:hover {
            opacity: .6;
        }
    }
}
